<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVAudioPlayerText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>86740FA01D1C24DD0069EDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86740FB91D1C24DD0069EDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86740FC41D1C24DD0069EDE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
